.jumbotron {
  background-image: linear-gradient(rgba(#e9ecef, .8), rgba(#e9ecef, .8)), url(../img/home1.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &-heading-1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    animation-name: textMoveIn;
    animation-duration: 1.5s;

    //animation-timing-function: ease-out;
    @media screen and (max-width: 500px) {
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 500
    }
  }

  .social-icon-about {
    display: flex;
    font-size: 2rem;
    list-style: none;
    padding-left: 0;

    @media screen and (max-width: 500px) {
      font-size: 1.2rem;
    }

    li {
      transition: all ease .3s;
      animation-name: iconMoveIn;
      animation-duration: 1.5s;
      //animation-timing-function: ease-out;

      &:not(:last-of-type) {
        padding-right: 2rem;
      }

      &:hover {
        transform: scale(1.2)
      }

      &:hover a {
        color: $color-red
      }

      a {
        color: $color-blue;
        transition: all ease .3s;
        //&:hover {  }
      }
    }
  }
}

.about {
  &-cont {
    min-height: calc((95vh - 10rem) - 14.3rem);
    padding: 6rem 0;
  }

  @media screen and (max-width: 500px) {
    text-align: center;
    padding: 0 1rem;
  }

  &-p {
    @media screen and (max-width: 500px) {
      font-size: 1.3rem;
      display: block;
    }
  }
}

.med-equi {
  min-height: 30rem;
}



@keyframes textMoveIn {
  0% {
    letter-spacing: 5px;
    transform: translateY(-0.5rem);
    opacity: 0;
  }

  80% {
    opacity: 0.4;
    transform: translateY(-0.4rem);
  }

  100% {
    opacity: 1;
    letter-spacing: 1px;
    transform: translateY(0);
  }
}

@keyframes iconMoveIn {
  0% {
    padding-right: 3rem;
    transform: translateY(.5rem);
    opacity: 0;
  }

  80% {
    opacity: 0.4;
    transform: translateY(.4rem);
  }

  100% {
    opacity: 1;
    padding-right: 2rem;
    transform: translateY(0);
  }
}