.jumbotron {
  background-image: linear-gradient(rgba(#e9ecef, .8), rgba(#e9ecef, .8)), url(../img/home1.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  .social-icon-about {
    display: flex;
    font-size: 2rem;
    list-style: none;
    @media screen and (max-width: 500px) {
      font-size: 1.2rem;
    }
    li {
      transition: all ease .3s;
      &:not(:last-of-type) {
        padding-right: 2rem;
      }
      &:hover { transform: scale(1.2) }
      &:hover a { color: $color-red }
      a { 
        color: $color-blue;
        transition: all ease .3s;
        //&:hover {  }
      }
    }
  }
}

.about {
  &-cont {
    min-height: 30rem;
  }
  @media screen and (max-width: 500px) {
    text-align: center;
    padding: 0 1rem;
  }

  &-p {
    @media screen and (max-width: 500px) {
      font-size: 1.3rem;
      display: block;
    }
  }
}
