//Variables
$heading-font: 'Roboto', sans-serif;
$body-font:'Montserrat', sans-serif;
$color-blue: #085b8c;
$color-red: #d62020;

html { font-size: 62.5% }

.home-body {
  overflow: hidden;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1;
  font-size: 1.5rem;
}