.carousel {
  height: 82vh;

  &-item {
    position: relative;
    height: 82vh;
  }

  &-img {
    width: 100%;
    object-fit: cover;
  }
  &-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}