.carousel {

  &-item {
    position: relative;
    height: calc(95vh - 10rem);
    background-position: center;
    background-size: cover;
  }

  &-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.home {
  &-1 {
    background-image: url(../img/home5.jpg)
  }

  &-2 {
    background-image: url(../img/home2.jpg)
  }

  &-3 {
    background-image: url(../img/home3.jpg)
  }

  &-4 {
    background-image: url(../img/home4.jpg)
  }

  &-5 {
    background-image: url(../img/home1.jpg)
  }
}