.footer {
  background-color: #333;
  color: #ccc;

 

  &-nav, &-icon {
    display: flex;
    list-style: none;
    color: #ccc;
    li {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
      a {
        color: currentColor;
        transition: all ease-in .3s;
        &:hover {
          text-decoration: none;
          color:  rgba( $color-red, .5) ;
        }
      }
    }
  }
  &-icon { justify-content: center }
}

