.navbar { 
  background-color: rgba($color-blue, .1) ;
}
@media screen and (max-width: 500px) {
  .navbar .container {
    flex-direction: column !important;
    justify-content: space-between;
  }
}
.nav {
  &-item:not(:last-of-type) { padding-right: 2rem }

  &-link {
    justify-self: end;
    flex-grow: 0;
    font-family: $heading-font;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    transition: all ease-in .3s;
    &:hover { color: $color-red !important }
  }

  &-active a { color: $color-blue !important }
}

.logo {
  display: block;
  height: 18vh;
  display: flex;
  align-items: center;
  padding: 2rem 0;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    height: 25vh;
    margin-bottom: 2rem;
  }

  &-img {
    margin-right: 20px;
    height: 100%;
    @media screen and (max-width: 500px) {
      
    }
  }

  &-text {
    font-size: 2.5rem;
    font-family: $heading-font;
    color: $color-blue;
    font-weight: 600;
    letter-spacing: 0.2rem;
    @media screen and (max-width: 992px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 500px) {

    }
  }
}
